.footer1{
    text-align: center;
    font-family: 'Roboto';
}
.form{
    background-color:#28A745 ;
}
.label1{
    color: white;
    text-align: center;
    font-family: 'Roboto';
}
.fname3{
    font-family: 'Roboto' ;
    align-items: center;
}
